# First Steps: Initial Setup

## Getting Started

Please look in the ```README.md``` to get started.

## SQL Magic

Jupyter notes support the concept of ["magics."](https://www.tutorialspoint.com/jupyter/ipython_magic_commands.htm). Running the cell below provides some information about magics.

In [1]:
%magic

[iPython-sql](https://pypi.org/project/ipython-sql/) is a useful magic for interacting with SQL databases. You can install and make the magic available by installing. The following cell will usually install the package. If the installation fails,
1. Follow the [instructions for Anaconda.](https://anaconda.org/conda-forge/ipython-sql)
2. Use web search with the error messages to see how others have solved the problem.

Contact the TA or professor if you cannot install the package.

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.0.2)

WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\11459\anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: six in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\11459\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in c:\users\11459\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (8.5.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: decorator in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: pygments>=2.4.0 in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: jedi>=0.16 in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: traitlets>=5 in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (5.4.0)
Requirement already satisfied: backcall in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: matplotlib-inline in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\11459\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.1.0)
Requirement already satisfied: pure-eval in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\11459\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.8)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=d7c55263614eb87d6471d0bb6db8c39e4cbe7bcacfb24f3c34f90f5efdbf1f24
  Stored in directory: c:\users\11459\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2

WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\11459\anaconda3\python.exe -m pip install --upgrade pip' command.

Now bring the magic into the notebook's environment.

In [2]:
%load_ext sql

## Using the Magic

The first step in using the magic is to connect to your MySQL database server. You need to put your root user name and password in the code before executing the cells below. My values are in the cells for the demo.

In [6]:
db_user = "admin"
db_password = "990709wzj"

In [7]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:990709wzj@localhost'

In [8]:
%sql $connection_string

The notebook is now connected to the database server.

## Initial Data Setup

The first step is to create a database (also known) as a schema in the database server.

In [9]:
%sql create database if not exists f22_databases

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

The second step is to set the new database as the default database, and then create your first table.

Be very careful because the script drops the table (deletes the table). You loose any data if you previously used the table.

In [10]:
%sql use f22_databases

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [11]:
%sql drop table if exists comment

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

There is a [comma separated value](https://en.wikipedia.org/wiki/Comma-separated_values) file
that contains some simulated data created with [Mockaroo](https://www.mockaroo.com/). I have a paid account on Mockaroo, which means you may not be able to create and download sample data that I am able to create.

We will write a simple Python script to load the data from the file into the database.

In [12]:
import pymysql

In [14]:
# This create a connection from the notebook environment to the database server.
# Do not worry about what all the parameters mean.
#
# You must have set the values for db_user and db_password above.
#
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [15]:
conn

In [16]:
# Use a simple Python library for CSV files to read the data.
#
import csv

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./sample1.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

In [17]:
# Let's look at the data
new_rows[0:2]

[{'comment_id': 'a0001',
  'user_id': 'zw2781',
  'text': 'nice photo',
  'date': '2022/11/3',
  'likes': '15'},
 {'comment_id': 'a0002',
  'user_id': 'rl3323',
  'text': 'beautiful ',
  'date': '2022/11/3',
  'likes': '21'}]

Columns in relational databases have [types.](https://www.tutorialspoint.com/sql/sql-data-types.htm) Specific products implementing SQL databases usually have modifications and extensions. For now, we will just treat all of the data as "strings." So, we are going to create the table and its columns. We will use the SQL magic just for the heck of it.

In [18]:
%%sql

create table comment
(
    comment_id  varchar(225) not null,
    user_id  varchar(225) not null,
    text varchar(225) not null,
    date       Datetime not null,
    likes      INT    not null

);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

We can examine the table's structure.

In [19]:
%sql describe comment

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('comment_id', 'varchar(225)', 'NO', '', None, ''),
 ('user_id', 'varchar(225)', 'NO', '', None, ''),
 ('text', 'varchar(225)', 'NO', '', None, ''),
 ('date', 'datetime', 'NO', '', None, ''),
 ('likes', 'int', 'NO', '', None, '')]

- The SQL operation for creating a row is ```INSERT.```


- We will make a template string statement for the insert.

In [20]:
# The %s are placeholders for adding values.
insert_sql = """
    insert into f22_databases.comment(comment_id, user_id, text, date, likes)
    values(%s,%s,%s,%s,%s)
"""

Now loop through the data and do the inserts.

In [21]:
# Do now worry about what a cursor is for now.
#
cur = conn.cursor()

In [22]:
for r in new_rows:
    print(list(r.values()))
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

['a0001', 'zw2781', 'nice photo', '2022/11/3', '15']
SQL =
    insert into f22_databases.comment(comment_id, user_id, text, date, likes)
    values('a0001','zw2781','nice photo','2022/11/3','15')

['a0002', 'rl3323', 'beautiful ', '2022/11/3', '21']
SQL =
    insert into f22_databases.comment(comment_id, user_id, text, date, likes)
    values('a0002','rl3323','beautiful ','2022/11/3','21')

['a0003', 'zz2892', 'good ', '2022/11/3', '13']
SQL =
    insert into f22_databases.comment(comment_id, user_id, text, date, likes)
    values('a0003','zz2892','good ','2022/11/3','13')

['a0004', 'hl3518', 'perfect', '2022/11/3', '11']
SQL =
    insert into f22_databases.comment(comment_id, user_id, text, date, likes)
    values('a0004','hl3518','perfect','2022/11/3','11')

Let's see if we can find our data.

In [23]:
%sql select * from f22_databases.comment;

 * mysql+pymysql://root:***@localhost
4 rows affected.

[('a0001', 'zw2781', 'nice photo', datetime.datetime(2022, 11, 3, 0, 0), 15),
 ('a0002', 'rl3323', 'beautiful ', datetime.datetime(2022, 11, 3, 0, 0), 21),
 ('a0003', 'zz2892', 'good ', datetime.datetime(2022, 11, 3, 0, 0), 13),
 ('a0004', 'hl3518', 'perfect', datetime.datetime(2022, 11, 3, 0, 0), 11)]

## Complete

The phase of the project initial setup is complete.

We will perform other tasks in future steps.